<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>Nombre del jugadora: <i>{{jugadora.nombre}}</i></p>
    <p>Apellido: <i>{{jugadora.apellido}}</i></p>
    <p>Mail: <i>{{jugadora.mail}}</i></p>
    <p>Club: <i>{{jugadora.club}}</i></p>
    <p>Deporte: <i>{{jugadora.deporte}}</i></p>
    <p>
        <a  href='{% url "ListJugadora" %}'>Regresar</a>
    </p>





</body>
</html>