
{% extends "AppCoder/padre.html" %}


{% block contenidoModificable %}

<h1>Jugadoras</h1>
    
{% endblock %}
    
{% block contenido2 %} 
    

        <ul> 

            {% for jugadora in object_list %} 

                 <li>

                    <p>Nombre: {{jugadora.nombre}} {{jugadora.apellido}} </p>

                    <P>
                        <button>
                        <a href="{%url 'DetailJugadora' jugadora.id %}">Ver</a>
                        </button>
                        <button>
                        <a href="{%url 'EditJugadora' jugadora.id %}">Editar</a>
                        </button>
                        <button>
                        <a href="{%url 'DeleteJugadora' jugadora.id %}">Borrar</a>
                        </button>

                    </P>

                 </li>
                
            {% endfor %} 
            <button>
                <a  href='{% url "ListJugadora" %}'>Regresar</a>
            </button>

        </ul>

{% endblock %}  
