{% extends "AppCoder/padre.html" %}

{% load static %}


{% block contenidoModificable %}

<h1 style=color:lightblue>Clubes</h1>


{% endblock %}


{% block contenido2 %} 

{% if miFormulario.errors %} 

<p style ='color:red'>Datos incorrectos</p>

{% endif %} 

<br>
</form>

<form action="/AppCoder/club/lista" method="GET">{% csrf_token %}

   <input type="submit" value="Info Clubes">
  
</form>
<br>
<p>
   Buscar club por Division:
</p>

<form action="/AppCoder/buscar/" method="GET">{% csrf_token %}

   <input TYPE="text" name="division" id="division">
   <input type="submit" value="Buscar">
  
</form>

{% endblock %} 

