{% extends "AppCoder/padre.html" %}


{% block contenidoModificable %}

<h1>Clubes</h1>

{% endblock %}

{% block contenido2 %}

<a href="{% url 'New' %}">Crear</a>

<ul>

    {% for club in object_list %}

    <li>

        <p>Nombre: {{club.nombre}} </p>

        <P>
            <button>
                <a href="{% url 'Detail' club.id %}">Ver</a>
            </button>
            <button>
                <a href="{% url 'Edit' club.id %}">Editar</a>
            </button>
            <button>
            <a href="{% url 'Delete' club.id %}">Borrar</a>
            </button>
        </P>

    </li>

    {% endfor %}


</ul>

{% endblock %}